###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_this_secret
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://USERNAME:PASSWORD@127.0.0.1:3306/DBNAME"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN="smtp://USERNAME:PASSWORD@smtp.example.com"
TWILIO_ACCOUNT_SID='your_twilio_sid_here'
TWILIO_ACCOUNT_TOKEN='your_twilio_token_here'
###< symfony/mailer ###

###> symfony/google-mailer ###
# Gmail SHOULD NOT be used on production, use it in development only.
# MAILER_DSN=gmail://USERNAME:PASSWORD@default
###< symfony/google-mailer ###
